<% layout('layout') %>

<div class="text-center">
  <h1>Welcome to File Uploader</h1>
  <p>
    A stripped down version of
    <a
      href="https://www.google.com/drive/"
      target="_blank"
      rel="noopener noreferrer"
      >Google Drive</a
    >
  </p>
</div>
